shape_generator/
shape_generator_samples/
shape_generator.1.7.12.zip
shape_generator_samples.zip
stl_files/
blender_videos/
*.zip
shape_generator/
shape_generator_samples/
*.zip
stl_files/
blender_videos/
data/abstract-25/stl/
data/abstract-25/animations/
data/ALICE_stl_(Xu & Sandhofer, 2024)/animations/
commands.txt
blender-4.5.0-linux-x64.zip
blender-4.5.0-linux-x64/
debian
*.deb
**/.DS_Store

