shape_generator/
shape_generator_samples/
shape_generator.1.7.12.zip
shape_generator_samples.zip
stl_files/
blender_videos/
*.zip
shape_generator/
shape_generator_samples/
*.zip
stl_files/
blender_videos/
25-abstract-stl/
commands.txt
25-abstract-animations/

